<!DOCTYPE html>
<html>
<head>
	<title></title>

	<meta charset="utf-8">
	<meta name = "viewport" content= "width=device-width, initial-scale=1">	
	<meta  name= 'description' content= "">
	<meta name = "author" content= "">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<script src = "https://d3js.org/d3-request.v1.min.js"></script>
	
	<script src = "https://d3js.org/d3-request.v1.min.js"></script><meta  htt-equiv="Content-Type" content= "text/html;charset=UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<title></title>

	<!-- Bootstrap core Css -->
	
	<style>
		.navbar-custom{
		background-color: #0B0c10;
		padding: 0;
		}
		
		.jumbotron{
				background-image: radial-gradient(#0D27A9,#3E45E3,#2327D8,#3EE3DC, #3E97E3, #1CE8DF,#3FF8F0);
			margin-bottom: 0;
			color: #f1f1f1;
			text-shadow: 3px 3px  4px #f1f1f1;
		}
		.blue{
			color: #93F7F3;
		}
		.nav-link-custom
		{
			color:#93F7F3;
		}
		h2{
			color: #000000;
		}
		.nav-link-custom:hover{
			color: #1c5757;
		}
		.code{
			color: #000000;
			text-shadow: 3px 3px  4px #f1f1f1;
		}
		h1{
			text-shadow: 3px 3px  4px #111111;
		}
	</style>
	
</head>
<body>

	<!-- HEADER -->
	<header class = 'site-header' role = 'banner'>
		<div class = "jumbotron jumobtron-fluid">
		<div class = "row">
		<h2 class= " col-6 text-left font-weight-bold">Builder</h2>
		<h2 class = "col-6 text-right font-weight-bold">Dreamer</h2>
		</div>
			<h1 class = "font-weight-bold text-center">Briann Elizabeth Booth</h1>
			<h1 class = "font-weight-bold text-center code">&#60Coder&#62</h1>
		</div>

		<!-- NavBar -->
		<nav class="navbar navbar-expand-md navbar-custom sticky-top">
  				<a class="navbar-brand" href="/"><img class="img-fluid" src="./stylesheets/img/logo1.png" width="105" height="55" style="padding-left: 1em"></a>
 				 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
   				 	<span><i class= "fa fa-bars blue" aria-hidden="true"></i></span>
  				</button>
  			<div class="collapse navbar-collapse" id="collapsibleNavbar">
    			<ul class="navbar-nav ml-auto">
     				 <li class="nav-item">
       					 <a class="nav-link nav-link-custom" href="/financial" style='padding-right:3em'>Financial</a>
      				</li>
     				 <li class="nav-item">
        				<a class="nav-link nav-link-custom" href="#" style='padding-right:3em'>Exploration</a>
      				</li>
      				<li class="nav-item">
       					 <a class="nav-link nav-link-custom" href="/canvas" style='padding-right:3em'>Canvas</a>
      				</li>    
    			</ul>
  			</div> 

		</nav>

	

</head>
<body>

