click==6.7
Flask==2.3.2
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
Werkzeug==0.14.1
pydash==4.7.6
pyppeteer==0.0.25
flask-debug==0.4.3
APScheduler==3.6.3
SQLAlchemy==1.3.12
Flask-APScheduler==1.11.0
urlopen==1.0.0
requests==2.23.0